body {
    font-family: Consolas, monaco, monospace;
}

.home-page {
    background-image: url('./images/index-bg.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: black;
    height: 100vh;
}
h2{
    text-align: center;
    color: aliceblue;
}
p{
    text-align: center;
    color: aliceblue;
}
/* .header-section{
    background: url(/static-files/images/header.jpg) center center / 2560px 200px no-repeat !important;
    content: "" !important; */
    /* height: 100% !important; */
    /* left: 0px !important;
    opacity: 0.4 !important;
    position: absolute !important;
    top: 0px !important;
    width: 100% !important;
    z-index: -1 !important;
}
header{
    background: rgb(0, 0, 0) !important;
    border-bottom: 1px solid rgb(17, 17, 17) !important;
    position: relative !important;
    height: 160px !important;
    z-index: 1 !important;
} */