body {
    background-color: black;
}
header{
    font-family: Consolas, monaco, monospace;
}
/*************** Home page index ***********/
.home-page {
    background-image: url('./images/index-bg.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: black;
    height: 100vh;
    font-family: Consolas, monaco, monospace;
}
.home-page h2{
    text-align: center;
    color: aliceblue;
}
.home-page p{
    text-align: center;
    color: aliceblue;
}
/******************* Work page css*****************/
.work-page {
    background-color: aliceblue;
}
.work-page .heading-img{
    width: 100%;
}
.work-page .heading{
    position: relative;
    text-align: center;
}
.work-page .heading-text {
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -50%);
}
